@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: "Inter", sans-serif;
}

html, body, #root {
  height: 100%;
}

:root {
  --color-lockbox-50:  #F0F2F4;
  --color-lockbox-100: #D6DAE1;
  --color-lockbox-200: #BBC3CE;
  --color-lockbox-300: #A0ABBA;
  --color-lockbox-400: #8694A7;
  --color-lockbox-500: #64748B;
  --color-lockbox-600: #586679;
  --color-lockbox-700: #454F5F;
  --color-lockbox-800: #313944;
  --color-lockbox-900: #1E2329;
  --color-lockbox-950: #0B0C0F;
}

body {
  margin: 0;
  background-color: var(--color-lockbox-50);
  color: var(--color-lockbox-950);
  overflow: hidden;
}
